<div>
  <section class="hero">
      <div class="hero-body">
          <div class="container">
          <h1 class="title titles">{{heading}}</h1>
          <div class="is-two-thirds column is-paddingless">
              <h2 class="subtitle is-4 titles">{{subheading}}</h2>
          </div>
          <a class="button is-large is-primary" id="learn">Learn more</a>
          </div>
      </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns pd is-desktop">
        <div class="column is-1 has-text-centered">
          <i class="fa fa-cog is-primary"></i>
        </div>
        <div class="column is-one-third-desktop">
          <p class="title"><strong>GSHEP is a quality, health, safety and environmental management consulting company.</strong></p>
        </div>
        <div class="column">
          <p>GSHEP is a quality, health, safety and environmental management consulting company focused on ensuring clients meet and exceed legislative requirements and standards whilst empowering them with the knowledge, systems and processes to self-manage into the future.</p>
        </div>
      </div>
    

    <div class="columns pd">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../../assets/safe.JPG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">We offer:</p>
              </div>
            </div>       
            <div class="content">
              Work health and safety management.
              <br>
              -GSHEP
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../../assets/environ.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">We offer:</p>
              </div>
            </div>       
            <div class="content">
              Environmental management.
              <br>
              -GSHEP
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../../assets/Qualitym.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">We offer:</p>
                </div>
              </div>       
              <div class="content">
                Quality management.
                <br>
                -GSHEP
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../../assets/Education.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">We offer:</p>
              </div>
            </div>       
            <div class="content">
              Education and training.
              <br>
              -GSHEP
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <div>